<ion-header class="ion-no-border header" [translucent]="true">
  <ion-toolbar style="margin-top: 70px;">
    <ion-title class="title">Login with Pin/Biometric</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="form-container">
  <div id="form-container">
    <form class="form-container">
      <div class="pin-input">
        <ion-input type="password" inputmode="numeric" maxlength="1"></ion-input>
        <ion-input type="password" inputmode="numeric" maxlength="1"></ion-input>
        <ion-input type="password" inputmode="numeric" maxlength="1"></ion-input>
        <ion-input type="password" inputmode="numeric" maxlength="1"></ion-input>
      </div>
      <div class="biometric">
        <img src="../../assets/images/biometric.webp" alt="biometric.png" [routerLink]="['/dashboard']">
      </div>
    </form>
    <!--Slider-->
    <swiper-container
      effect="coverflow"
      grab-cursor="true"
      centered-slides="true"
      slides-per-view="auto"
      loop="true"
      coverflow-effect='{"rotate":0,"stretch":0,"depth":100,"modifier":2.5,"slideShadows":false}'
      class="mySwiper"
      autoplay='{"delay":200}'
    >
      <swiper-slide><img src="../../assets/images/last.png" alt="Image 1" /></swiper-slide>
      <swiper-slide><img src="../../assets/images/center.png" alt="Image 2" /></swiper-slide>
      <swiper-slide><img src="../../assets/images/side.png" alt="Image 3" /></swiper-slide>
    </swiper-container>
    <!-- Cards grid -->
    <div class="icon-grid">
      <ion-card class="icon-card" *ngFor="let item of menuItems">
        <ion-card-content>
          <img [src]="item.icon" [alt]="item.title" class="card-content" />
          <ion-text>{{ item.title }}</ion-text>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="demo">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
        <ion-text>Demo</ion-text>
      <ion-icon name="chevron-forward-circle-outline"></ion-icon>
    </div>
  </div>
</ion-content>