<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar>
    <div slot="start" class="welcome-container">
      <img src="../../assets/icon/menu.png" class="menu-icon">
      <h1>Welcome</h1>
      <h2>Shah</h2>
    </div>
    <div slot="end" class="logo-container">
      <img src="assets/images/logo.png" class="app-logo" />
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
